@charset "UTF-8";

@import "tailwindcss";


@layer base {
  :root {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #2172f0;
  }

  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #ffff;
    overflow-x: hidden;
  }
}


